@page "/settings"


<div id="loader" class="loader-overlay" style="display: @(isLoading ? "flex" : "none");">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<h1>Settings</h1>

@if (settings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    DevOps Endpoint
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsUri" placeholder="https://dev.azure.com/YourOrg/" />
                </td>
            </tr>
            <tr>
                <td>
                    DevOps Project Name
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsProject" placeholder="YourProjectName" />
                </td>
            </tr>
            <tr>
                <td>
                    DevOps Email
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsEmail" placeholder="your_name@example.com" />
                </td>
            </tr>
            <tr>
                <td>
                    DevOps Personal Access Token
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsApiToken" placeholder="yourPAT" type="password" />
                </td>
            </tr>
            <tr>
                <td>
                    Custom Home Wiql (optional)
                </td>
                <td>
                    <textarea class="form-control" @bind="settings.CustomHomeWiql" placeholder="Custom Wiql query (can be exported from DevOps)" />
                </td>
            </tr>
            <tr>
                <td>
                    Items to Create List Wiql
                </td>
                <td>
                    <textarea class="form-control" @bind="settings.CustomChildItemsToCreateWiql" placeholder="Custom Wiql query (can be exported from DevOps)" />
                </td>
            </tr>
            <tr>
                <td>
                    Child Work Item Type
                </td>
                <td>
                    <select class="form-select" @bind="settings.CreateChildWorkItemType">
                        <option value="Task">Task</option>
                        <option value="Test Task">Test Task</option>
                        <option value="Test Case">Test Case</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Enable Comments
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="enableCommentsCheck" @bind="settings.EnableComments" />
                        <label class="form-check-label" for="enableCommentsCheck">
                            Yes
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="SaveSettings">Save</button>
}

@code {
    private bool isLoading = true;

    private Core.TDiousSettings? settings;

    protected override async Task OnInitializedAsync()
    {
        settings = await Core.TDiousDataProvider.GetSettings();
        if (settings == null)
        {
            settings = new Core.TDiousSettings();
        }
        isLoading = false;
    }

    private async Task SaveSettings()
    {
        isLoading = true;
        StateHasChanged();
        await Core.TDiousDataProvider.SaveSettings(settings);
        isLoading = false;
        StateHasChanged();
    }
}
