@page "/settings"


<div id="loader" class="loader-overlay" style="display: @(isLoading ? "flex" : "none");">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<h1>Settings</h1>

@if (settings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    DevOps Endpoint
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsUri" placeholder="https://dev.azure.com/YourOrg/" />
                </td>
            </tr>
            <tr>
                <td>
                    DevOps Personal Access Token
                </td>
                <td>
                    <input class="form-control" @bind="settings.DevOpsApiToken" placeholder="yourPAT" />
                </td>
            </tr>
            <tr>
                <td>
                    Custom Wiql (optional)
                </td>
                <td>
                    <textarea class="form-control" @bind="settings.CustomWiql" placeholder="Custom Wiql query (can be exported from DevOps)" />
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="SaveSettings">Save</button>
}

@code {
    private bool isLoading = true;

    private Core.TDiousSettings? settings;

    protected override async Task OnInitializedAsync()
    {
        settings = await Core.TDiousDataProvider.GetSettings();
        if (settings == null)
        {
            settings = new Core.TDiousSettings();
        }
        isLoading = false;
    }

    private async Task SaveSettings()
    {
        isLoading = true;
        StateHasChanged();
        await Core.TDiousDataProvider.SaveSettings(settings);
        isLoading = false;
        StateHasChanged();
    }
}
